// Typography etc.

// Icon Font
@font-face {
  font-family: 'iconFont';
  src:url('/assets/fonts/icons/icons.eot');
  src:url('/assets/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icons.woff') format('woff'),
    url('/assets/fonts/icons/icons.ttf') format('truetype'),
    url('/assets/fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Fonts
$display:sans-serif;
$text:georgia,serif;
$utility:Helvetica,Arial,sans-serif;
$icons:'iconFont';
$code:monospace;

// Weights
$book:400;
$bold:700;